제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x = 10
if x > 5:
    print("x는 5보다 큽니다")
elif x == 5:
    print("x는 5입니다")
else:
    print("x는 5보다 작습니다")

x는 5보다 큽니다

In [ ]:
x = 10
if x >=5:
    print("x는 5보다 크거나 같습니다")
else:
    print("x는 5보다 작습니다")

x는 5보다 크거나 같습니다

In [ ]:
# 각 조건이 서로 독립적일때 if문을 연속해서 사용

x = 10
y = 5

if x > 5:
    print("x는 5보다 큽니다")

if y < 10:
    print("y는 10보다 작습니다")

if x > y:
    print("x는 y보다 큽니다")

x는 5보다 큽니다
y는 10보다 작습니다
x는 y보다 큽니다

In [ ]:
x = 10
y = 5

if x > 5:
    if y >= 3:
        print("x는 5보다 크고 y는 3보다 크거나 같습니다")
    else:
        print("x는 5보다 크고 y는 3보다 작습니다")
else:
        print("x는 5보다 작거나 같습니다")

x는 5보다 크고 y는 3보다 크거나 같습니다

In [ ]:
# Q . 이중 조건문을 사용하여 코드를 작성하세요 (조건 내용은 자유. 단, if문, if ~elif ~ else중첩하여 사용)

x = 17
y = 8

if x > 17:
    if y <= 8:
        print("x는 17보다 크고 y는 8보다 작거나 같습니다")
elif x < 17:
    if y >= 8:
        print("x는 17보다 작고 y는 8보다 크거나 같습니다")
else:
    print()

In [ ]:
# 70점 이상만 채점

score = int(input("점수를 입력하세요: "))

if score < 70:
    print("점수가 70점 미만입니다. 채점을 진행하지 않습니다.")
else:
    if score >= 90:
        print("A")
    elif score >= 80:
        print("B")
    else:
        print("C")

점수를 입력하세요: 65
점수가 70점 미만입니다. 채점을 진행하지 않습니다.

In [ ]:
 # Q . listdata = ['a' , 'b' , 'c']

listdata = ['a' , 'b' , 'c']

if 'a' in listdata:
    print('a 가 listdata에 있습니다')
if 'b' in listdata:
    print('b 가 listdata에 있습니다')
if 'c' in listdata:
    print('c 가 listdata에 있습니다')

a 가 listdata에 있습니다
b 가 listdata에 있습니다
c 가 listdata에 있습니다

In [ ]:
listdata = ['a' , 'b' , 'c']

for i in listdata:
    if i in listdata:
        print(f'{i}가 listdata에 있습니다')

a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다

In [ ]:
# Q . "주머니에 돈이 만원이상 있으면 택시를 타고 , 돈이 없으면 걸어간다" 를 만족하는 조건문을 사용하세요

money = int(input("현재 가지고 있는 돈 : "))

if money >= 10000:
    print("택시를 탄다")

else:
    print("걸어간다")

현재 가지고 있는 돈 : 5000
걸어간다

In [ ]:
# Q . 조건부 표현식을 한줄의 조건문으로 작성하세요.

score = 70
if score >=70:
     massage = ("success")
else:
    message = "failure"

print(message)

success

In [ ]:
score = 70
["succese" if score >=60 else "failure"]

['succese']

In [ ]:
# Q . "수입과 지출금액을 비교해서 수입이 많으면 저축증가, 반대이면 빚이 증가 , 같으면 현상유지" 프로그램 작성

income = int(input())
spend = int(input())

if income > spend:
    print("저축 증가")

elif income < spend:
    print("채무 증가")

else:
    print("현상유지")

1000
1000
현상유지

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
# for 루프는 시퀀스(리스트, 튜플,문자열 등)나 반복 가능한 객체 (iterable)의 요소를 순회

for i in range(5):
    print(i, end=' ')
print('\n')
count = 0
while count < 5:
    print(count)
    count +=1

0 1 2 3 4

0
1
2
3
4

In [ ]:
# 리스트를 순회하는 예

for i in [1,2,3,4,5]:
    print(i, end = ' ')

print('\n')
#문자열을 순회하는 예

for char in "hello":
    print(char , end = ' ')

1 2 3 4 5

h e l l o

In [ ]:
# while 루프는 주어진 조건이 참(True)인 동안 코드 블록을 반복
# 조건이 거짓(False)이 되면 루프가 종료

count = 0
sum = 0
while count < 5:
    sum += count
    print(sum , end =' ')
    count += 1

0 1 3 6 10

In [ ]:
# Q . d에서 반복문을 사용하여 97 98 99를 출력하시오

d = {'a': 97 , 'b': 98 , 'c': 99}

for key in d:
    print(d[key], end = ' ')

97 98 99

In [ ]:
d = {'a': 97 , 'b': 98 , 'c': 99}

for k ,v in d.items():
    print(v , end = ' ')

97 98 99

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [ ]:
d['b'] = 100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99}
dict_values([97, 100, 99])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i , end = ' ')
print('\n')

for i in range(5):
    if i == 3:
        continue
    print(i , end = ' ')

0 1 2

0 1 2 4

In [ ]:
for i in range(10):
    if i == 5:
        break # i 가 5일때 루프를 종료한다
        print(i , end = ' ')
print('\n')
for i in range(10):
    if i % 2 == 0:
        continue # i가 짝수일 때 나머지 부분을 건너뛰고 다음 반복을 시작한다
        print(i , end == ' ')

In [ ]:
# for 또는 while 루프에 else 절을 사용하면, 루프가 정상적으로 완료된 후에 실행할

for i in range(5):
    print(i , end = ' ')

else:
    print("루프가 완료되었습니다" , '\n')

count = 0
while count < 5:
    print(count , end = ' ')
    count += 1
else:
    print("루프가 완료되었습니다")

0 1 2 3 4 루프가 완료되었습니다

0 1 2 3 4 루프가 완료되었습니다

In [ ]:
# break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음

for i in range(5):
    if i == 3:
        print(f'{i}에서 루프를 중단합니다')
        break

else:
    print('루프가 정상적으로 완료되었습니다.')

3에서 루프를 중단합니다

# 조건과 반복을 결합

In [ ]:
# 10미만 홀수만 출력

for i in range(10):
    if i % 2 == 1:
        print(i , end = ' ')

1 3 5 7 9

In [ ]:
# 10미만 홀수만 출력

for i in range(10):
    if i % 2 != 0:
        print(i , end = ' ')

1 3 5 7 9

In [ ]:
# Q . 1 ~ 10 범위의 정수에서 1부터 5까지만 출력하세요

for i in range(1,11):
    if i > 5:
        break
    print(i , end = ' ')

1 2 3 4 5

In [ ]:
# Q. numbers 리스트에서 15,20,25를 출력하세요 (for문과 if 조건 사용 필수)

numbers = [5,15,6,20,7,25]

for i in numbers[1:6]:
    if i % 5 == 0:
        print(i , end = ' ')

15 20 25

In [ ]:
numbers = [5,15,6,20,7,25]

for i in numbers:
    if i > 5 and i%5 == 0:
    # if i >=15:
        print(i , end = ' ')

15 20 25

In [ ]:
# 특정 조건을 만족할 때까지  반복

count = 0
while 1:
    count += 1
    if count > 5:
        break
    print(count , end = ' ')
print('루프가 종료됨')

1 2 3 4 5 루프가 종료됨

In [ ]:
# Q . 리스트에서 특정값 찾기

numbers = [1,2,3,4,5]
target = 3

for i in numbers:
    if int(input("target: ")):
        print()
        break
    else:
        print("no target")

target: 1

In [ ]:
# Q . 리스트에서 특정값 찾기

numbers = [1,2,3,4,5]
target = 6

for num in numbers:
    if num == target:
        print(f"{target}을 찾았습니다 !")
        break

else:
    print(f"{target}을 찾지 못했습니다.")
# print(f"{target}을 찾지 못했습니다)

6을 찾지 못했습니다.

In [ ]:
# Q . 1 ~ 20 사이의 정수에서 10보다 작은 홀수만 입력

for i in range(1,21):
    if i < 10:
        if i % 2 != 0:
            print(i , end = ' ')
    else:
        break

1 3 5 7 9

In [ ]:
# while ~ continue ~ break
# 20 보다 작은 정수에서 1 3 5 7 9 만을 출력

a = 0

while a < 20:
    a += 1
    if a % 2 == 0:
        continue
    if a >= 10:
        break
    print(a , end = ' ')

1 3 5 7 9

In [ ]:
# Q . 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n값과 합을 구하세요 (while ~ break)

x = 1
sum = 0

while 1:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x  = x + 1

45
1035

In [ ]:
x = 0
sum = 0

while sum < 1000:
    x += 1
    sum += x
print(x)
print(sum)

45
1035

In [ ]:
x = 0
sum = 0

while sum < 1000:
    x += 1
    sum += x

print(x)
print(sum)

45
1035

In [ ]:
sum = 0

for i in range(1,46):
    sum += i
print(sum)

1035

In [ ]:
# Q . while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구하세요
# 1
count = 1
multiple_sum = 0
while count <= 1000:
    if count % 3 == 0:
        multiple_sum += count
    count += 1
print(multiple_sum)

166833

In [ ]:
# 2
n = 0
sum = 0

while n < 1000:
    n += 1
    if n % 3 == 0:
        sum += n
print(sum)

166833

In [ ]:
# 3

n = 3
sum = 0
while n <=1000:
    sum += n
    n += 3
print(sum)

166833

In [ ]:
i = 1
sum = 0

while i < 1000:
    if i % 3 == 0:
        sum += i
    i += 1
print(sum)

166833

In [ ]:
# Q . 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성

number = int(input("정수를 입력하세요: "))

if number % 2 == 1:
    print(f'입력한 숫자{number}는 홀수 입니다.')

else:
    print(f'입력한 숫자{number}는 짝수 입니다.')

정수를 입력하세요: 3
입력한 숫자3는 홀수 입니다.

In [ ]:
while True:
    try:
        number = int(input("정수를 입력하세요: "))

        if number % 2 == 1:
            print(f'입력한 숫자 {number}는 홀수입니다.')
        else:
            print(f'입력한 숫자 {number}는 짝수입니다.')
            break  # 정수 입력시 while 루프를 빠져나감
    except ValueError:
        print("정수가 아닌 값이 입력되었어요. 정수를 입력하세요")

정수를 입력하세요: 4.5
정수가 아닌 값이 입력되었어요. 정수를 입력하세요
정수를 입력하세요: 3.6
정수가 아닌 값이 입력되었어요. 정수를 입력하세요
정수를 입력하세요: 3
입력한 숫자 3는 홀수입니다.
정수를 입력하세요: 3
입력한 숫자 3는 홀수입니다.

KeyboardInterrupt: Interrupted by user

In [ ]:
# Q. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요 (ABC -> BCA)

data = str(input('문자열을 입력: '))

for i in range(len(data)):
    if i == 0:
        continue
    print(data[i],end = '')

else:
    print(data[0])

문자열을 입력: ABC
BCA

In [ ]:
data = str(input("문자열을 입력"))

for i in range(len(data)):
    if i == 0:
        continue
    print(data[i], end = '')

else:
    print(data[0])

문자열을 입력abc
bca

zip() 함수
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
zipped = zip(list1 , list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# Q . 두개의 리스트(이름과 성)을 사용하여 각 사람의 전체 이름을 생성하세요

first_names = ["John" , "Jane" , "Corey" , "Travis"]
last_names = ["Doe" , "Smith" , "Turner" , "Williams"]

full_names = [first + " " + last for first, last in zip(first_names, last_names)]
print(full_names)

['John Doe', 'Jane Smith', 'Corey Turner', 'Travis Williams']

In [ ]:
# Q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평군 점수를 구하시오

math_scores = [88, 92, 79, 93, 85]
english_scores = [90, 91, 85, 88, 86]

average_scores = [(math + english) / 2 for math , english in zip(math_scores, english_scores)]
print(average_scores)

[89.0, 91.5, 82.0, 90.5, 85.5]

In [ ]:
# Q . 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을떄, 상품명과 가격을 튜플로 묶어 출력하시오

products = ["apple" , "banana" , "cherry"]
prices = [1.2 , 0.5 , 2.5]

for product , price in zip(products,prices):
    print(f'product: {product} , Price ${price}')

product: apple , Price $1.2
product: banana , Price $0.5
product: cherry , Price $2.5

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [ ]:
import random

# 0과 1 사이의 난수 생성
print(random.random())

# 1에서 10 사이의 정수 반환 (10 포함)
print(random.randint(1,10))

# 리스트에서 무작위로 하나의 원소 선택
items = [1,2,3,4,5]
print(random.choice(items))

# 리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)

# 정규 분포 난수 생성
mean = 0
std_dev = 1
print(random.gauss(mean, std_dev))

0.6873011530387001
9
1
[5, 2, 1, 4, 3]
-0.5175710231825522

In [ ]:
import random
male = ['철수' , '갑돌' , '로미오' , '이몽룡' , '온돌']
random.shuffle(male)
print(male)

['철수', '갑돌', '이몽룡', '온돌', '로미오']

In [ ]:
from random import shuffle
male = ['철수' , '갑돌' , '로미오' , '이몽룡' , '온돌']
shuffle(male)
print(male)

['갑돌', '로미오', '온돌', '이몽룡', '철수']

Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [ ]:
import random

male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
female = ['미미', '갑순', '줄리엣', '성춘향', '평강']

# 두 리스트를 병합하여 한 쌍으로 이루어진 튜플의 리스트 생성
pairs = list(zip(male, female))

# 쌍을 무작위로 섞음
random.shuffle(pairs)

# 파트너를 출력
for male, female in pairs:
    print(f"{male} - {female}")

철수 - 미미
로미오 - 줄리엣
온돌 - 평강
이몽룡 - 성춘향
갑돌 - 갑순

In [ ]:

import random

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

pairs = list(zip(male , female))
print(pairs)

random.shuffle(pairs)
print(pairs)

for male , female in (pairs):
    print(f'{male} - {female}')

[('철수', '미미'), ('갑돌', '갑순'), ('로미오', '줄리엣'), ('이몽룡', '성춘향'), ('온돌', '평강')]
[('온돌', '평강'), ('갑돌', '갑순'), ('철수', '미미'), ('이몽룡', '성춘향'), ('로미오', '줄리엣')]
온돌 - 평강
갑돌 - 갑순
철수 - 미미
이몽룡 - 성춘향
로미오 - 줄리엣

In [ ]:
import random
# 문제 해결
male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
random.shuffle(female)

pairs = zip(male , female)
for male , female in (pairs):
    print(f'{male} - {female}')

갑돌 - 줄리엣
이몽룡 - 미미
로미오 - 성춘향
철수 - 갑순
온돌 - 평강

In [ ]:
import random
# 문제 해결
male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
random.shuffle(female)

couples = zip(male , female)
#couples = list(zip(male , female))

for i, couple in enumerate(couples):
    print(f'커플{i+1}: {couple[0]}, {couple[1]}')

커플1: 이몽룡, 성춘향
커플2: 로미오, 갑순
커플3: 철수, 평강
커플4: 갑돌, 미미
커플5: 온돌, 줄리엣

Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

In [ ]:
import random

# 대문자, 소문자, 숫자 리스트 정의
upper = ['A', 'B', 'C', 'D']
lower = ['e', 'f', 'g', 'h']
numbers = ['1', '2', '3', '4']

# 대문자, 소문자, 숫자 중 무작위로 하나씩 선택하여 비밀번호 생성
password = [
    random.choice(upper),
    random.choice(lower),
    random.choice(numbers),
    *[random.choice(upper + lower + numbers) for _ in range(5)]  # 나머지 5자리 무작위 선택
]

# 비밀번호 리스트를 문자열로 변환
password_str = ''.join(password)

# 생성된 비밀번호를 무작위로 섞음
password_shuffled = ''.join(random.sample(password_str, len(password_str)))

print(password_shuffled)

fgC2gefA

In [ ]:
import random

upper = ['A','B','C','D']
lower = ['e','f','g','h']
numbers = [1,2,3,4]

password = list(zip(upper, lower, numbers))
random.shuffle(password)

print(password)

[('A', 'e', 1), ('B', 'f', 2), ('C', 'g', 3), ('D', 'h', 4)]

In [ ]:
# Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

# 문제 해결 1

import random
import string # 문자열 상수를 제공하는 모듈로 , 여기서는 알파벳 문자와 숫자를 포함

characters = string.ascii_letters + string.digits # 모든 소문자와 대문자 알파벳을 포함 (a-z , A-Z)

password = ''.join(random.choice(characters) for i in range(8))
print("랜덤 비밀번호: ", password)

랜덤 비밀번호:  nXIiCKn8

In [ ]:
# Task2_0430. 대문자, 소문자, 숫자가 반드시 한번씩은 포함하는  8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

# 문제 해결 2

import random
import string # 문자열 상수를 제공하는 모듈로 , 여기서는 알파벳 문자와 숫자를 포함

upper = random.choice(string.ascii_uppercase)
lower = random.choice(string.ascii_lowercase)
digit = random.choice(string.digits)

characters = string.ascii_letters + string.digits # 모든 소문자와 대문자 알파벳을 포함 (a-z , A-Z)
rest = ''.join(random.choice(characters) for i in range(5))
# 모든 요소를 하나의 문자열로 합치기

password = upper + lower + digit + rest

# 비밀번호 임의로 섞기
print(password)
password = ''.join(random.sample(password, len(password))) # 선택할 시퀀스 , 선택할 요소
print("랜덤 비밀번호:" , password)

Fg2lBM2s
랜덤 비밀번호: sgF2MB2l

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [ ]:
import random

kita = ['김성현', '황강민', '윤호준', '류윤선', '이상협', '박지환', '최환욱', '서보선', '김한결', '김도현', '김하준', '김도원', '신현진', '소지승', '이범석', '이현석', '이명신', '박윤경', '이도헌', '김홍준']

# 발표자 수를 입력 받습니다.
num_presenters = int(input("발표자 수를 입력하세요: "))

# 입력한 발표자 수가 리스트의 길이를 초과할 경우, 리스트의 길이로 설정합니다.
num_presenters = min(num_presenters, len(kita))

# 발표자 수만큼 무작위로 선택합니다.
selected_presenters = random.choices(kita, k=num_presenters)

# 선택된 발표자를 출력합니다.
print("선택된 발표자:")
for presenter in selected_presenters:
    print(presenter)

발표자 수를 입력하세요: 10
선택된 발표자:
김하준
이상협
윤호준
황강민
이상협
김도현
김하준
박지환
최환욱
김도현

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [ ]:
# 문제해결
import random

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원',
        '신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

num = int(input('발표자 수 입력 >'))

ans = random.sample(kita, num) # 중복 없이 요소를 선택
print(ans)

발표자 수 입력 >10
['김성현', '박윤경', '윤호준', '이범석', '소지승', '이현석', '박지환', '류윤선', '신현진', '이명신']

Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.

In [ ]:
num = int(input('구구단을 출력할 숫자를 입력하세요: '))
for i in range(1,10):
    print(f'{num} x {i} = {num * i}')

구구단을 출력할 숫자를 입력하세요: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
# 구구단을 전부 출력하기

for j in range(1,10):
    for i in range(2,10):
        print(f'{i} * {j} = {i * j}\t' , end = '')
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [ ]:
  #for i in range(2,10):
   #     print(f'{i} * 1 = {i * 1}\t' , end = '')

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9

In [ ]:
# 구구단을 횡 방향으로 출력하기

for j in range(1,10):
    for i in range(2,10):
        print(f'{i} * {j} = {i * j}\t' , end = '')
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

표현식(Expression)
- 하나 이상의 값, 변수, 연산자, 함수 호출 등을 조합하여 평가(evaluate)될 때 값을 생성하거나 반환하는 코드
- 표현식은 계산되어 값이 되는 모든 것을 의미

표현식의 예시:
- 수치 계산: 2 + 3는 5라는 값을 반환
- 문자열 조합: "Hello " + "World"는 "Hello World"라는 문자열을 생성
- 논리 연산: x > 5는 x의 값에 따라 True 또는 False를 반환
- 함수 호출: sum([1, 2, 3])은 리스트의 합인 6을 반환
- 조건식: x if x > 0 else -x는 x가 양수면 x를, 음수면 -x를 반환

In [ ]:
# 각 단의 구구단 결과를 옆으로 출력
for i in range(2,10):# 2단부터 9단까지
    #각 단의 이름 중간에 출력
    print(f"{' '*5}{i}단{' '*5}", end = "\t") # 중간에 각 단의 이름을 출력
print() # 단의 이름 출력 후 줄바꿈

# 구분선 추가

for i in range(2,10):
    print("="*12 , end = "\t")# 각 단마다 구분선을 출력
print()

# 각 단의 구구단 결과를 출력
for j in range(1,10): # 1단부터 9단까지 곱할 숫자
    for i in range(2,10): # 1단부터 9단까지
        print(f'{i} * {j} = {i * j}\t' , end = '') # 각 결과를 탭으로 구분하며 옆으로 출력
    print() # 각 행의 출력이 끝난 후에 줄바꿈을 하여 다음 숫자로 넘어감

     2단     	     3단     	     4단     	     5단     	     6단     	     7단     	     8단     	     9단
============	============	============	============	============	============	============	============
2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.

In [ ]:
 # 5! = 5 x 4 x 3 x 2 x 1 =120

num = int(input('팩토리얼을 계산할 숫자를 입력하세요: '))
factorial = 1

for i in range(1 , num + 1):
    factorial *= i
print(f"{num} 의 팩토리얼은 {factorial} 입니다.")

팩토리얼을 계산할 숫자를 입력하세요: 5
5 의 팩토리얼은 120 입니다.

Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

In [ ]:

for i in range(1,21):
    if i >= 1:
        if i % 2 == 0:
            print(i , end = ' ')

2 4 6 8 10 12 14 16 18 20

In [ ]:
# 문제 해결

num1 = []
num2 = []

for i in range(21):
    if i % 2 == 0:
        num1.append(i)
    else:
        num2.append(i)

print(num1)
print(num2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.
- numbers[34,78,2,45,99,23]

In [ ]:
numbers = [34,78,2,45,99,23]

max_num = max(numbers)
print(max_num)

99

In [ ]:
# 문제 해결

numbers = [34,78,2,45,99,23]

max = 0

for i in numbers:
    if i > max:
        max = i
print(max)

99

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요.
- 단, 입력숫자가 정답보다 큰지 작은지 힌트를 주는 방식으로 코드 작성

In [ ]:
# 숫자 맞추기 게임
import random
target_number = random.randint(1,10)
while True:
    guess = int(input("1부터 10 사이의 숫자를 맞춰보세요: "))
    if guess > target_number:
        print("더 작은 숫자입니다 !")
    elif guess < target_number:
        print("더 큰 숫자입니다!")
    else:
        print("정답입니다")
        break

1부터 10 사이의 숫자를 맞춰보세요: 9
더 작은 숫자입니다 !
1부터 10 사이의 숫자를 맞춰보세요: 4
더 작은 숫자입니다 !
1부터 10 사이의 숫자를 맞춰보세요: 3
정답입니다

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

In [ ]:
birth_year = int(input("태어난 연도를 입력하세요: "))

zodiacs = ["쥐", "소" , " 호랑이" , "토끼" , "용" , "뱀" , "말" , "양" , "원숭이" , "닭" , "개", " 돼지"]
zodiac_index = (birth_year - 1924) % 12
zodiac = zodiacs[zodiac_index]

print(f"{birth_year} 년은 {zodiac}띠 입니다")

# ["원숭이" , "닭" , "개", " 돼지" ,"쥐", "소" , " 호랑이" , "토끼" , "용" , "뱀" , "말" , "양"]

태어난 연도를 입력하세요: 1996
1996 년은 쥐띠 입니다

In [ ]:
y = ["원숭이" , "닭" , "개", " 돼지" ,"쥐", "소" , " 호랑이" , "토끼" , "용" , "뱀" , "말" , "양"]
x = int(input("태어난 연도를 입력하세요: "))
print(f'{y[x%12]} 띠입니다')

태어난 연도를 입력하세요: 1996
쥐 띠입니다

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [ ]:
coffee = 5

while True:
    money = int(input("돈을 주시면 커피를 드립니다"))
    if money == 300:
        print("커피를 맛있게 드세요")
        coffee -= 1
    elif money > 300:
        print("거스름돈 %d원을 받으시고 커피를 맛있게 드세요." %(money-300))
        coffee -= 1
    else:
        print("금액이 부족하여 %d원을 반환합니다." %(money))
    if coffee == 0:
        print("죄송합니다. 커피가 소진되었네요. 1시간 뒤에 준비해 놓을게요 !")
        break

돈을 주시면 커피를 드립니다500
거스름돈 200원을 받으시고 커피를 맛있게 드세요.
돈을 주시면 커피를 드립니다400
거스름돈 100원을 받으시고 커피를 맛있게 드세요.
돈을 주시면 커피를 드립니다100
금액이 부족하여 100원을 반환합니다.
돈을 주시면 커피를 드립니다500
거스름돈 200원을 받으시고 커피를 맛있게 드세요.
돈을 주시면 커피를 드립니다00
금액이 부족하여 0원을 반환합니다.
돈을 주시면 커피를 드립니다500
거스름돈 200원을 받으시고 커피를 맛있게 드세요.
돈을 주시면 커피를 드립니다500
거스름돈 200원을 받으시고 커피를 맛있게 드세요.
죄송합니다. 커피가 소진되었네요. 1시간 뒤에 준비해 놓을게요 !

In [ ]:
# Q . 로또 번호 6개를 6세트 출력하는 코드를 작성하세요(중복 안됨)

import random

r = list(range(1,46))
print(r)
for i in range(6):
    lotto = random.sample(r,6)
    print(lotto)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[23, 43, 39, 38, 1, 10]
[13, 5, 33, 37, 30, 39]
[37, 8, 38, 13, 20, 21]
[37, 16, 33, 12, 28, 31]
[4, 29, 43, 34, 36, 13]
[37, 40, 15, 39, 27, 3]

In [ ]:
# Q . n개 그룹으로 분류하는 코드를 작성하세요.

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결',
        '김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

n = int(input("몇개의 그룹으로 나누시겠습니까?"))
random.shuffle(kita)
print(kita)
groups = [kita[i::n] for i in range(n)]
print(groups)
for idx , group in enumerate(groups):
    print(f"그룹{idx + 1}: {group}")

몇개의 그룹으로 나누시겠습니까?5
['서보선', '박지환', '김하준', '이범석', '김도원', '신현진', '황강민', '이상협', '이현석', '김한결', '김성현', '윤호준', '이명신', '김도현', '최환욱', '박윤경', '이도헌', '김홍준', '소지승', '류윤선']
[['서보선', '신현진', '김성현', '박윤경'], ['박지환', '황강민', '윤호준', '이도헌'], ['김하준', '이상협', '이명신', '김홍준'], ['이범석', '이현석', '김도현', '소지승'], ['김도원', '김한결', '최환욱', '류윤선']]
그룹1: ['서보선', '신현진', '김성현', '박윤경']
그룹2: ['박지환', '황강민', '윤호준', '이도헌']
그룹3: ['김하준', '이상협', '이명신', '김홍준']
그룹4: ['이범석', '이현석', '김도현', '소지승']
그룹5: ['김도원', '김한결', '최환욱', '류윤선']

In [ ]:
# Q . 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요

n = 5
sum = 0

for i in range(101):
    if n <= 95:
        sum += n
        n += 1
print(sum)

4550

In [ ]:
# Q . 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요

# 문제 해결 2

i = 1
sum = 0

while i <= 100:
    if i >=5 and i <= 95:
        sum += i
    i += 1
print(sum)

4550

In [ ]:
# Q . while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요.

n = 1
sum = 0

while n <= 1000:
    n += 1
    if n % 3 == 0 and n % 5 == 0:
        sum += n
print(sum)

33165

In [ ]:
# 문제 해결

i = 1
sum = 0

while i <= 1000:
    if i % 3 == 0 and i % 5 == 0:
        sum += i
    i += 1
print(sum)

33165

In [ ]:
# Q . 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요

import datetime

now = datetime.datetime.now()
now_time = now.hour
now_time

3

In [ ]:
# 문제 해결

import datetime
import pytz

tz = pytz.timezone('Asia/Seoul')
now = datetime.datetime.now(tz)
now_time = now.hour
now_time # 현재시각

if now_time >= 12:
    print("오후 입니다.")

else:
    print("오전 입니다.")

오후 입니다.

In [ ]:
# 다양한 오류 입력에 대한 해결 방안 추가 필요

time = input("현재 시간을 입력하세요(ex. 15시 30분 , 15시): ")

if '시' not in time:
    print("형식에 맞춰 작성해 주세요.")
elif int(time.split('시')[0]) >= 0 and int(time.split('시')[0]) < 12:
    print("오전 입니다.")
elif int(time.split('시')[0]) >= 12 and int(time.split('시')[0]) < 24:
    print("오후 입니다.")

else:
    print("시간을 다시 입력해 주세요")

현재 시간을 입력하세요(ex. 15시 30분 , 15시): 15시 34분
오후 입니다.

Task1_0502. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.

In [ ]:
num1 = int(input("숫자를 입력하세요 > "))
num2 = int(input("숫자를 입력하세요 > "))

if num1 % 2 == 0 and num2 % 2 == 0:
    print(num1 * num2)
elif num1 % 2 == 1 and num2 % 2 == 1:
    print(num1 + num2)
else:
    print("다시 입력해 주세요")

숫자를 입력하세요 > 7
숫자를 입력하세요 > 9
16

# pop함수

- 리스트와 같은 자료 구조에서 주로 사용되는 함수
- 이 함수는 특정 인덱스에 위치한 요소를 리스트에서 제거하고 해당 요소를 반환

In [ ]:
fruits = ["apple", "banana" , "cherry" , "data"]

# 인덱스 2의 요소 (cherry)를 제거하고 반환

removed_fruit = fruits.pop(2)
print(removed_fruit)
print(fruits)

# 리스트의 마지막 요소 (data)를 제거하고 반환
last_fruit = fruits.pop()
print(last_fruit)
print(fruits)

cherry
['apple', 'banana', 'data']
data
['apple', 'banana']

Task2_0502. 현재 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [ ]:
# 문제 해결

from datetime import datetime
spring = [3,4,5]
summer = [6,8,7]
autumn = [9,10,11]
winter = [12,1,2]

today = datetime.now()
month = today.month

if month in spring: # if 3 <= month <= 5:
    print("봄입니다")
elif month in summer:
    print("여름입니다")
elif month in autumn:
    print("가을입니다")
else:
    print("겨울입니다")

봄입니다

In [ ]:
from datetime import datetime
spring = [3,4,5]
summer = [6,8,7]
autumn = [9,10,11]
winter = [12,1,2]

today = datetime.now()
month = today.month

if 3 <= month <= 5:
    print("봄입니다")
elif
    print("여름입니다")
elif month in autumn:
    print("가을입니다")
else:
    print("겨울입니다")

Task3_0502. 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.

`1*99, 2*98 ...99*1`

In [ ]:
# 문제 해결 1
max_value = 0

for i in range(1,100):
    if max_value >= (i*(100-i)):
        continue
    else:
        max_value = i*(100-i)
print(max_value)

2500

2500

In [ ]:
# 문제 해결 2

n = 1
result = 0
while n <= 100:
    a = n*(100-n)
    if a > result:
        result = a
        n += 1
    else:
        n += 1
        continue
print(result)

2500

In [ ]:
# 입력값 없고 출력값만 있는 형태

def findBiggestOne():
    biggestNum = 0

    for i , j in zip(range(1,100) , range(99,0,-1)):
        if i * j > biggestNum:
            biggestNum = i * j
    return biggestNum
print(findBiggestOne())

2500

In [ ]:
for i in range(99,0,-1):
    print(i , end = ' ')

99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
numbers = [i for i in range(99,0,-1)]
print(type(numbers))
print(type(numbers[0]))
print(numbers)

<class 'list'>
<class 'int'>
[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 문자로 된 리스트

numbers = [str(i) for i in range(99,0,-1)]
print(type(numbers))
print(type(numbers[0]))
print(numbers)

<class 'list'>
<class 'str'>
['99', '98', '97', '96', '95', '94', '93', '92', '91', '90', '89', '88', '87', '86', '85', '84', '83', '82', '81', '80', '79', '78', '77', '76', '75', '74', '73', '72', '71', '70', '69', '68', '67', '66', '65', '64', '63', '62', '61', '60', '59', '58', '57', '56', '55', '54', '53', '52', '51', '50', '49', '48', '47', '46', '45', '44', '43', '42', '41', '40', '39', '38', '37', '36', '35', '34', '33', '32', '31', '30', '29', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '17', '16', '15', '14', '13', '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2', '1']

Task4_0502. [    ]을 채워서 아래의 출력과 같이 출력하세요.

- numbers = [1,2,3,4,5,6,7,8,9]
- output = [[], [], []]


# [[1,4,7],[2,5,8],[3,6,9]]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

[[1,4,7],[2,5,8],[3,6,9]]

for num in numbers:
    if num % 3 == 1:
        output[0].append(num)
    elif num % 3 == 2:
        output[1].append(num)
    else:
        output[2].append(num)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[(number - 1)%3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Task5_0502. 주어진 리스트에서 중복된 요소를 제거하고, 남은 요소만을 포함하는 새 리스트를 반환합니다. 순서는 유지해야 합니다.

- input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]

In [ ]:
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]

result = [input_list[0]]

for i in input_list[1:]:
    if i != result[-1]:
        result.append(i)
print(result)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 문제 해결 1

input_list = [1,2,2,3,4,4,4,5,6,7,7]

for i in input_list:
    if input_list.count(i) > 1:
        input_list.remove(i)
print(input_list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]

def removed_duplicates(input_list):
    num = set()
    result = []
    for i in input_list:
        if i not in num:
            num.add(i)
            result.append(i)
    return result

print(removed_duplicates(input_list))
set(input_list)

[1, 2, 6, 3, 7, 4, 5]

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#1
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]

def remove_dup(input_list):
  num = []
  result = []
  for item in input_list:
    if item not in num:
      num.append(item)
  return num

result=remove_dup(input_list)
print(result)

[1, 2, 6, 3, 7, 4, 5]

Task6_0502. 주어진 문자열을 모스코드로 변환하는 함수를 작성하세요. 공백은 무시하고 알파벳만 변환하세요

- input_text = "Hello World"

In [ ]:
morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }

input_text = "Hello World"
result = ""

for char in input_text:
    if char.upper() in morse_code:
        result += morse_code[char.upper()]
print(result)

......-...-..---.-----.-..-..-..

Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.

[ 대각선 수 구하기 ]

4행 3열에서
첫 번째 행은 3개의 대각선에 각각 기여합니다.
첫 번째 열은 4개의 대각선에 각각 기여합니다.
하지만 가장 왼쪽 상단의 원소가 두 방향에서 모두 카운트되므로, 총 대각선 수는 3 + 4 − 1 = 6개가 됩니다.

[ 대각선 합 구하기 ]

a b c\
d e f\
g h i\
j k l

대각선 0: a\
대각선 1: b + d\
대각선 2: c + e + g\
대각선 3: f + h + j\
대각선 4: i + k\
대각선 5: l

In [ ]:
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]

print(len(input_matrix))
print(len(input_matrix[0]))

def diagonal_sums(matrix):
    if not matrix:
        return []
    m, n = len(matrix), len(matrix[0])
    # 최대 가능한 대각선 수는 m + n - 1
    print(m,n)
    max_diagonals = m + n - 1
    result = [0] * max_diagonals

    # 모든 원소를 순회하면서 해당 대각선 인덱스에 값을 더함
    for i in range(m):
        for j in range(n):
            # 대각선 인덱스는 행 인덱스와 열 인덱스의 차의 절댓값
            diagonal_index = i + j
            result[diagonal_index] += matrix[i][j]

    return result

# 매트릭스 입력
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]

# 대각선 합 결과 출력
print(diagonal_sums(input_matrix))

4
3

In [ ]:
#  Q . 가위 바위 보 게임을 프로그래밍하세요
# player가 3승 할때 까지 계속 진행되는 가위바위보 게임 프로그램을 작성하세요

import random

com = ['가위', '바위', '보']

win = [('가위' , '바위') , ('바위' , '보') , ('보' , '가위')]

while 1:
    com_select == random.choice.(com)
    player = input

    if

가위/바위/보 입력: 가위

NameError: name '가위' is not defined

In [ ]:
import random

com_hand = ['가위' , '바위', '보']
win_case = {'가위':'바위' , '바위':'보' , '보': '가위'}
win_number = 0

print('가위 바위 보 게임을 시작합니다.(3회 승리시 종료)')
print('주의 : 오타는 패배로 간주됩니다')

while 1:
    com_select = com_hand[random.randint(0,2)]
    you_select = input('가위/바위/보 입력:')
    print(f'컴퓨터는 {com_select}입니다.')

    if win_case[com_select] == you_select:
        win_number += 1
        print(f'이겼습니다. 현재 {win_number}승 입니다')

    else:
        if com_select == you_select:
            print('비겼습니다')
        else:
            print('졌습니다')
    if win_number == 3:
        print('3승을 달성하여 게임이 종료됩니다')
        break

가위 바위 보 게임을 시작합나디.(3회 승리시 종료)
주의 : 오타는 패배로 간주됩니다
가위/바위/보 입력:가위
컴퓨터는 가위입니다.
비겼습니다
가위/바위/보 입력:가위
컴퓨터는 보입니다.
이겼습니다. 현재 1승 입니다
가위/바위/보 입력:바위
컴퓨터는 가위입니다.
이겼습니다. 현재 2승 입니다
가위/바위/보 입력:보
컴퓨터는 보입니다.
비겼습니다
가위/바위/보 입력:가위
컴퓨터는 바위입니다.
졌습니다
가위/바위/보 입력:가위
컴퓨터는 보입니다.
이겼습니다. 현재 3승 입니다
3승을 달성하여 게임이 종료됩니다

In [ ]:
def main():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")

if __name__ == "__main__":
    main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

KeyboardInterrupt: Interrupted by user

In [ ]:

print("KITA 식당에 오신 것을 환영합니다")
print("\n")
print("=" * 40)
print("             - 메  뉴-")
print("       1. 불고기 비빔밥 : 12,000원")
print("       2. 야채 비빔밥 : 8,000원")
print("       3. 전주 비빔밥 : 10,000원")
print("\n")
print("       세트 주문시 : 3,000원 추가")
print("       세트는 밥과 반찬이 추가됩니다.")

KITA 식당에 오신 것을 환영합니다


========================================
             - 메  뉴-
       1. 불고기 비빔밥 : 12,000원
       2. 야채 비빔밥 : 8,000원
       3. 전주 비빔밥 : 10,000원


       세트 주문시 : 3,000원 추가
       세트는 밥과 반찬이 추가됩니다.

In [ ]:
def display_menu():
    print("\nKITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)


def order():
    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")


def main():0
    while True:
        display_menu()
        order()

        # 계속 주문하거나 종료 여부를 확인한다.
        continue_ordering = input("\n다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>> ")
        if continue_ordering == '종료':
            break

    print("\n감사합니다! 다음에 또 방문해 주세요.")


if __name__ == "__main__":
    main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 1
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> n
총 금액은 12000원 입니다.

다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>> 종료

감사합니다! 다음에 또 방문해 주세요.

In [ ]:
# mymodule.py 파일의 내용을 문자열로 정의합니다.
module_content = """
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

print_hello()
print_goodbye()
"""

# 파일을 쓰기 모드로 열고, 내용을 작성한 뒤 파일을 닫습니다.
with open("mymodule.py", "w") as file:
    file.write(module_content)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

mymodule.py  sample_data

In [ ]:
import mymodule

Hello from mymodule!
Goodbye from mymodule!

`if __name__ == "__main__": `

- 현재 모듈이 직접 실행되는지 또는 다른 파일에 의해 임포트되어 사용되는지를 판단할 때 사용.
- 만약 모듈이 직접 실행되면 __name__ 변수의 값은 "__main__"이 되고, 모듈이 다른 파일에서 임포트되어 사용될 경우 __name__은 모듈의 이름이 된다.

In [ ]:
# mymodule.py 파일의 내용을 문자열로 정의합니다.
# if__name__ == "__main__": 는 직접 실행할 경우만  True , 모듈 임포트 경우는 False
module_content = """
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

print_hello()
print_goodbye()

if__name__ == "__main__":
    print("This code runs only when mymodule.py is executed directly.")
    print_hello()
    print_goodbye()
"""
# 파일을 쓰기 모드로 열고, 내용을 작성한 뒤 파일을 닫습니다.
with open("mymodule.py", "w") as file:
    file.write(module_content)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

mymodule.py  __pycache__  sample_data

In [ ]:
def display_menu():
    print("\nKITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)


def order():
    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")


def main():
    while True:
        display_menu()
        order()

        # 계속 주문하거나 종료 여부를 확인한다.
        continue_ordering = input("\n다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>> ")
        if continue_ordering == '종료':
            break

    print("\n감사합니다! 다음에 또 방문해 주세요.")


if __name__ == "__main__":
    main()

# Task1_0503 여러개의 음식을 동시에 주문할수있는 주문 시스템을 작성하세요(구조지향)
[시나리오]
1. 시작 인터페이스:
- 시스템 시작 시, 사용자에게 주문 시작 여부를 질문 (y 또는 n으로 응답).
- y 선택 시 주문 프로세스 시작.
- n 선택 시 시스템 종료 및 "감사합니다." 메시지 표시.
2. 메뉴 표시:
- 주문 프로세스 시작 시, 현재 메뉴 항목과 가격 표시.
- 각 메뉴 옆에는 선택 번호 제공 (예: 1, 2, 3).
- 세트 주문 시 추가 비용 안내 (3000원 추가).
3. 주문 입력:
- 메뉴 선택 입력 요청.
- 메뉴 번호 입력 후 세트 주문 여부 질문 (y는 세트, n은 일반).
- 주문 수량 질문 후, 주문 장바구니에 추가.
- 주문이 추가된 후 해당 내용 표시.
4. 주문 취소:
- 잘못 주문했거나 주문 취소 시 0 입력.
- 주문 취소 시 "모든 주문이 취소되었습니다." 메시지 표시.
5. 주문 요약 및 결제:
- 주문 완료하려면 5 입력.
- 주문 내역 및 총 금액 요약 표시.
- 결제 금액 안내 및 결제 진행 요청.
- 결제 완료 후 "총 금액은 XXX원이 결제되었습니다. 감사합니다." 메시지 표시 및 주문 초기화.
6. 반복 주문 가능:
- 결제 후 추가 주문 진행 가능.
- 언제든지 n 입력하여 주문 프로세스 종료 및 시스템 빠져나올 수 있음.

[ 함수 구성 및 역할 ]
1. display_menu()
- 역할: 사용자에게 메뉴 선택지를 표시.
- 세부 기능: 메뉴 아이템과 각각의 가격, 세트 주문 시 추가 비용을 표시.
- 시나리오 연결: 사용자가 주문 프로세스를 시작할 때, 어떤 메뉴를 선택할 수 있는지 표시.
2. display_order_summary()
- 역할: 현재 주문 상태를 요약하여 표시.
- 세부 기능: 선택된 메뉴 항목, 수량, 세트 여부, 각 항목의 가격과 총 주문 금액을 계산하여 표시.
- 시나리오 연결: 주문을 마친 후, 사용자가 자신의 주문 내역을 확인하고 최종 결제하기 전에 전체 주문 내용 검토.
3. add_order(menu_id, is_set)
- 역할: 사용자의 메뉴 선택을 주문 목록에 추가.
- 세부 기능: 메뉴 ID와 세트 여부에 따라 주문을 추가하고, 추가된 주문 정보를 사용자에게 전달.
- 시나리오 연결: 사용자가 메뉴를 선택하고 주문 수량을 입력할 때, 해당 주문을 시스템에 추가 및 확인.
4. process_order()
- 역할: 주문 프로세스의 메인 컨트롤러.
- 세부 기능: 사용자의 입력을 받아 메뉴 선택, 주문, 주문 취소, 결제를 처리하고, 프로세스의 시작과 종료를 관리.
- 시나리오 연결: 전체 주문 프로세스를 실행하고, 사용자의 각 선택에 따라 적절한 행동을 지시하며, 필요에 따라 다른 함수들을 호출.

[ 시나리오의 흐름과 함수 연결 ]
1. 시작: 사용자가 주문을 시작하겠다고 응답하면 (y 입력), display_menu() 함수가 호출되어 사용 가능한 메뉴를 표시.
2. 메뉴 선택: 사용자가 메뉴 번호를 입력하고, 세트 여부를 선택하면 add_order() 함수가 호출되어 주문을 추가.
3. 주문 확인: 주문을 추가할 때마다 display_order_summary() 함수가 호출되어 현재까지의 주문 상태를 확인.
4. 주문 수정 또는 결제: 사용자가 주문을 취소하거나 변경할 수 있고, 최종적으로 결제를 원할 때 process_order() 함수 내에서 결제를 진행.
4. 종료: 주문 결제가 완료되면, 사용자가 추가 주문을 원하지 않을 경우 (n 입력), 시스템이 종료.

이러한 구조화된 접근 방식은 코드의 각 부분이 시나리오의 어떤 단계와 연결되는지 명확하게 정의하며, 시스템의 유지 관리와 확장성을 개선.

In [ ]:
# 메뉴 아이템과 가격 설정

menu_items = {
    '1' : ("불고기 비빔밥" , 12000),
    '2' : ("야채 비빔밥" , 8000),
    '3' : ("전주 비빔밥" , 10000)
}

set_price = 3000
orders = {}
price_total = 0

def display_menu():
    print("\n♣♣♣ KITA 식당에 오신 것을 환영합니다 ♣♣♣")
    print("========================================")
    print("           - 메뉴 -")
    for key, (name, price) in menu_items.items():
        print(f"  {key}. {name} : {price}원")
    print("\n  세트 주문시 : 3000원 추가 (세트는 밥과 반찬이 추가됩니다.)")
    print("========================================")

def display_order_summary():
    global price_total # 전역 변수 price_total 사용 선언
    print("wn 장바구니")
    price_total = 0
    for key , (name , price) in menu_items.items():
        count = orders.get((key,False), 0)
        count_set = orders.get((key,True), 0)
        print(f"{name} {count}개: {count_set * (price + set_price)}원")
        price_total += (count * price) + (count_set * (price + set_price))
    print(f"총 금액 {price_total}원\n")

def add_order(menu_id , is_set):
    item_name , item_price = menu_items[menu_id]
    if is_set:
        item_price += set_price
    num = input(f"\n {item_name}{' 세트' if is_set else ''} 몇개 주문하시겠습니까?\n")
    if num.isdigit() and int(num) > 0:
        orders[(menu_id, is_set)] = orders.get((menu_id, is_set), 0) + int(num) # orders는{(menu_id, is_set):개수}
        print(f"\n{item_name}{' 세트' if is_set else ''}{num}개가 장바구니에 담겼습니다.\n")
    else:
        print('양수만 입력하세요.')

def process_order():
    while True:
        msg = input("주문을 하시겠습니까? (y 또는 n) >> ").strip().lower()
        if msg == 'y':
            while True:
                display_menu()
                display_order_summary()
                choice = input("주문할 메뉴를 골라주세요. (불고기 비빔밥: 1, 야채 비빔밥:2, 전주 비빔밥:3 , \
                전체 취소:0, 결제:5) >> ").strip().lower()
                if choice in menu_items:
                    set_choice = input("\n 3000원을 추가해 세트로 주문하시겠습니까?\
                    (일반 주문시: n, 세트 주문시: y)\n").strip().lower()
                    if set_choice in ['y', 'n']:
                        add_order(choice, set_choice == 'y')
                    else:
                        print('올바른 선택을 입력하세요(y 또는 n).')
                elif choice == '0':
                    orders.clear()
                    print('\n모든 주문이 취소되었습니다')
                elif choice == '5':
                    if price_total > 0:
                        print(f'\n주문하려면 결제해주세요. 결제 금액은 {price_total}원 입니다.\n')
                        input("결제를 완료하려면 아무 키나 누르세요") # 사용자가 결제를 확인할 수 있도록 입력 대기
                        print(f"총 금액 {price_total}원이 결제 되었습니다. 감사합니다")
                        orders.clear()
                        break
                    else:
                        print('메뉴를 고르고 주문해 주세요')
                else:
                    print('메뉴의 지정된 숫자로 입력하세요')
        else:
            print('감사합니다')
            break
if __name__== "__main__":
    process_order()

주문을 하시겠습니까? (y 또는 n) >> y

♣♣♣ KITA 식당에 오신 것을 환영합니다 ♣♣♣
========================================
           - 메뉴 -
  1. 불고기 비빔밥 : 12000원
  2. 야채 비빔밥 : 8000원
  3. 전주 비빔밥 : 10000원

  세트 주문시 : 3000원 추가 (세트는 밥과 반찬이 추가됩니다.)
========================================
wn 장바구니
불고기 비빔밥 0개: 0원
야채 비빔밥 0개: 0원
전주 비빔밥 0개: 0원
총 금액 0원

주문할 메뉴를 골라주세요. (불고기 비빔밥: 1, 야채 비빔밥:2, 전주 비빔밥:3 ,                 전체 취소:0, 결제:5) >> 2

 3000원을 추가해 세트로 주문하시겠습니까?                    (일반 주문시: n, 세트 주문시: y)
y

 야채 비빔밥 세트 몇개 주문하시겠습니까?
1

야채 비빔밥 세트1개가 장바구니에 담겼습니다.


♣♣♣ KITA 식당에 오신 것을 환영합니다 ♣♣♣
========================================
           - 메뉴 -
  1. 불고기 비빔밥 : 12000원
  2. 야채 비빔밥 : 8000원
  3. 전주 비빔밥 : 10000원

  세트 주문시 : 3000원 추가 (세트는 밥과 반찬이 추가됩니다.)
========================================
wn 장바구니
불고기 비빔밥 0개: 0원
야채 비빔밥 0개: 11000원
전주 비빔밥 0개: 0원
총 금액 11000원

주문할 메뉴를 골라주세요. (불고기 비빔밥: 1, 야채 비빔밥:2, 전주 비빔밥:3 ,                 전체 취소:0, 결제:5) >> 5

주문하려면 결제해주세요. 결제 금액은 11000원 입니다.

결제를 완료하려면 아무 키나 누르세요
총 금액 11000원이 결제 되었습니다. 감사합니다
주문을 하시겠습니까? (y 또는 n) >> n
감사합니다